body{
    margin: 0em;
    font-family: 'Noto Sans', sans-serif;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;

}
.cover {
    height: 750px;
    background-image: url(assets/index.png);
    background-size: cover;
    background-position: center;
}
.coverN {
    background-image: url(assets/nosotros3.png);
    height: 740px;
    background-size: cover;
    background-position: center;
}
.parallax{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(assets/altaba.png);
    background-size: cover;
    background-attachment: fixed;
}
#conocenos{
    padding:  5rem 0;
    
}
#contact{
    padding: 2rem 0;
    background-color: rgb(242, 243,244);
    position: relative;
}
.card{
    border: 0 !important;
    background-color: rgb(248, 249,249);
    
}
.card-text{
    text-align: center;
}
.card-title{
    text-align: center;
    color: rgb(98,101,103);
    font-weight: bold;
}
#suscribir{
    background-color:rgb(234, 242,248); 
    height: 10rem;
}
#conocimientos{
    background-color: rgb(242, 243,244);
    height: 16rem;
}
.bi{
    font-size: 50px;
}
.headerD{
    height: 100vh;
    display: flex;
    align-items: center;
}
.contentD{
    max-width: 49rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}
.header-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}
.header-video video{
    min-width: 100%;
    min-height: 100%;
}
.header-overlay{
    height: 80vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #303952;
    z-index: 1;
    opacity: 0.60;
}
.header-content{
    z-index: 2;
}
.header-content h1{
    font-size: 50px;
    margin-bottom: 0;
    color: white;

}
.header-content p{
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
    color: white;
}
@media(max-width: 960px){
    .contentD{
        padding: 0 3rem 0 3rem;
    }
}